django-geolocation/MANIFEST.in

include LICENSE
include README.rst
recursive-include geolocation_fields/static *
recursive-include geolocation_fields/templates *
recursive-include geolocation_fields/forms *
recursive-include geolocation_fields/models *
recursive-include geolocation_fields/ *
recursive-include docs *