.map { 
    height: 200px;
    margin-top: 10px;
    resize: both;
  	overflow: scroll;
	overflow-x: hidden;
}

.map_container {
    width: 500px;
}

.map_manage_control{
    width: 50px;
    height: 100px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65) ;
    border-radius: 5px;
}